* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
html, body, div, img, p, a, span {
	color: #000;
	margin: 0;
	font-family: 'Chalet', Helvetica, Arial, sans-serif;
}
html {
	height: 100%;
	overflow: hidden;
	background: #fff;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* - FONTS - */
/*@font-face { font-family: 'MoonLight'; src: url('/assets/fonts/Moon/MoonLight.otf') format('opentype'); }
@font-face { font-family: 'MoonBold'; src: url('/assets/fonts/Moon/MoonBold.otf') format('opentype'); }*/
@font-face { 
	font-family: 'Chalet'; 
	src: url('/assets/fonts/Chalet/chalet-parisnineteensixty.eot') format('embedded-opentype'),
			 url('/assets/fonts/Chalet/chalet-parisnineteensixty.ttf') format('truetype'),
			 url('/assets/fonts/Chalet/chalet-parisnineteensixty.woff') format('woff'); 
}
/* - end FONTS - */

/* - ANIMATIONS - */
@-webkit-keyframes shake {
	0% { -webkit-transform: rotate(0deg); }
	10% { -webkit-transform: rotate(5deg); }
	20% { -webkit-transform: rotate(10deg); }
	30% { -webkit-transform: rotate(25deg); }
	40% { -webkit-transform: rotate(50deg); }
	50% { -webkit-transform: rotate(90deg); }
	60% { -webkit-transform: rotate(140deg); }
	70% { -webkit-transform: rotate(210deg); }
	80% { -webkit-transform: rotate(270deg); }
	90% { -webkit-transform: rotate(320deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes shake {
	0% { -webkit-transform: rotate(0deg); }
	10% { -webkit-transform: rotate(5deg); }
	20% { -webkit-transform: rotate(10deg); }
	30% { -webkit-transform: rotate(25deg); }
	40% { -webkit-transform: rotate(50deg); }
	50% { -webkit-transform: rotate(90deg); }
	60% { -webkit-transform: rotate(140deg); }
	70% { -webkit-transform: rotate(210deg); }
	80% { -webkit-transform: rotate(270deg); }
	90% { -webkit-transform: rotate(320deg); }
	100% { -webkit-transform: rotate(360deg); }
}
/* - end ANIMATIONS - */

/* - GLOBALS - */
.container {
	margin: 0 auto;
}
.vertical {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.scrollbar-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.snap-drawer .nav:hover,
.main .header .logo:hover,
.main .header .menubar-toggle:hover,
.services .content-navbar a:hover {
	cursor: pointer;
	opacity: 1;
}
/* - end GLOBALS - */

/* - Site View - */
.site-view {
	width: 100%;
	min-width: 1436px;
	height: 100%;
	min-height: 782px;
	opacity: 1;
}
.site-view.ng-enter {
	position: absolute;	
	display: block;
	top: 0;
	left: 100%;
	right: 0;
	bottom: 0;
	-webkit-transition: all cubic-bezier(0.9, 0.2, 0.4, 1) 1.5s;
	transition: all cubic-bezier(0.9, 0.2, 0.4, 1) 1.5s;
}
.site-view.ng-leave {
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}
.site-view.ng-enter.ng-enter-active {
	left: 0;
}
.site-view.ng-leave.ng-leave-active {
	left: -100%;
	opacity: 0;
}
@media only screen and (max-width: 415px) {
	.site-view {
		min-width: 0;
		min-height: 0;
	}
}
/* - end Site View - */

/* - Intro Page - */
.intro {
	height: 100%;
	z-index: 2;
}
.intro .container {
	width: 75%;
	height: 300px;
}
.face-1 { background: url(/assets/imgs/face-1.JPG); }
.face-2 { background-image: url(/assets/imgs/face-2.JPG); }
.face-3 { background: url(/assets/imgs/face-3.JPG); }
.face-4 { background: url(/assets/imgs/face-4.JPG); }
.intro .container .face-1,
.intro .container .face-2,
.intro .container .face-3,
.intro .container .face-4 {
	display: block;
	float: left;
	width: 25%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}
@media only screen and (max-width: 415px) {
	.intro .container {
		width: 90%;
		height: 400px;
	}
	.intro .container .face-1,
	.intro .container .face-2,
	.intro .container .face-3,
	.intro .container .face-4 {
		width: 50%;
	
		height: 50%;
}
}
/* - end Intro Page - */

/* - Snap Drawer - */
.snap-drawers {
	border: 20px solid rgba(158, 83, 35, 1);
	background: rgb(238,191,163);
}
.snap-drawer {
	width: 200px;
	padding: 50px 0 0 15px;
}
.snap-drawer .nav {
	font-size: 3.2em;
	color: #fff;
}
.snap-drawer .nav:hover {
	font-size: 3.8em;
	font-weight: lighter;
	color: #fff;
}
@media only screen and (max-width: 415px) {
	.snap-drawer {
		width: 50%;
	}
}
/* - end Snap Drawer - */

/* - Background Faces - */
.background-img {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30%;
	opacity: .05;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-img.face-3 {
	left: 0;
}
.background-img.face-2 {
	right: 0;
}
@media only screen and (max-width: 415px) {
	.background-img {
		width: 100%;
	}
}
/* - end Background Faces - */

/* - Main Page - */
.main {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}
.main .container-bg {
	width: 100%;
	height: 100%;
	padding: 30px 50px;
	background: rgba(255,229,204,.6);
}
.main .container {
	width: 90%;
	height: 90%;
	padding: 40px;
	background: #fff;
	border-radius: 30px;
	overflow: auto;
}
.main .header {
	height: 10%;
}
.main .header .logo {
	position: absolute;
	top: -9px;
	left: -22px;
	width: 6%;
	height: 107%;
	background: url(/assets/imgs/logo-green-transparent.png) no-repeat center center;
	background-size: contain;
}
.main .header .logo:hover {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.main .header .nav {
	position: relative;
	width: 58%;
	height: 100%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: center;
	border-bottom: 4px solid rgba(85,10,0,1);
}
.main .header .nav span {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 0 4px;
    padding: 13px 20px;
    font-size: 1.3em;
    background: rgba(130,68,0,1);
    color: #fff;
    opacity: .7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main .header .nav span.selected {
	opacity: 1;
	margin-top: 0;
}
.main .header .nav span:hover {
	margin-bottom: 0;
	opacity: 1;
	cursor: pointer;
}
.main .header .menubar-toggle {
	position: absolute;
	right: -10px;
	top: 4px;
	width: 60px;
	height: 60px;
	padding: 0;
	line-height: 40px;
	text-align: center;
	border-radius: 40px;
	outline: none;
	background: rgb(130, 68, 0);
	border: 4px solid rgb(208, 158, 130);
}
.main .header .menubar-toggle:hover {
	-webkit-animation-name: shake;
	-webkit-animation-duration: .5s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: shake;
	-moz-animation-duration: .5s;
	-moz-transform-origin: 50% 50%;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
}
.main .header .menubar-toggle span {
	display: block;
	width: 57%;
	height: 4px;
	margin: 3px auto;
	border-radius: 5px;
	background: #fff;
}

.main .portal {
	height: 100%;
	font-weight: lighter;
	font-size: 2em;
}
.main .portal.ng-enter {
	opacity: 0;
}

.main .portal.ng-enter-active {
	opacity: 1;
}

.main .portal.ng-leave {
	display: none;
}
@media only screen and (max-width: 415px) {
	.main {
		width: 100%;
	}
	.main .container-bg {
		padding: 25px;
	}
	.main .container-bg .container {
		padding: 15px;
	}
	.main .header {
		height: 8%;
	}
	.main .header .logo {
		width: 40px;
	}
	.main .header .menubar-toggle {
		width: 40px;
		height: 40px;
	}
	.main .portal {
		height: 92%;
		padding: 0;
	}
}
/* - end Main Page - */

/* - Content - */
.content {
	height: 100%;
	position: absolute;   top: 0;   bottom: 0;   left: 0;   right: 0;   height: 100%;   margin: 0 auto;
}

/* - About Content - */
.about .about-body {
    height: 100%;

}
.about .about-body-left {
    float: left;
    width: 55%;

    padding: 0 20px 0 0;
    text-align: center;
}
.about .left-bg {
  position: absolute;
  width: 53%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .05;
}
.about .about-body-left .address {
	font-size: 1.5em;
	padding: 0 0 40px 0;
}
.about .about-body-left .date-wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 2px solid rgba(85,10,0,1);
	border-bottom: 2px solid rgba(85,10,0,1);
}
.about .about-body-left .date-wrapper p {
	font-size: .8em;
}
.about .about-body-left .date-wrapper p .day {
    float: left;
	
}
.about .about-body-left .date-wrapper p .time {
    float: right;
}
.about .about-body-left .date-wrapper p::after {
  content: '';
  display: block;
  clear: both;
}
.about .about-body-left .contact {
	padding: 40px 0 0;
}
.about .about-body-left .contact span {
	font-weight: 900;
	font-size: 1.2em;
}
.about .about-body-right {
    float: left;
    width: 45%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(85,10,0,.2);
}
.about .about-body-right .google-map-wrapper {
    height: 100%;
}
.about .about-body-right iframe.google-map {
	float: right;
} 

@media only screen and (max-width: 415px) {


}
/* - end About Content - */

/* - Book Content - */
.book {
	height: 100%;
}
.book .scrollbar-wrapper {
	height: 100%;
	background-size: cover;
	border: 1px solid rgba(85,10,0,.1);
	border-radius: 30px;
}
.book iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow-x: hidden;
	border-radius: 30px;
}
@media only screen and (max-width: 415px) {
	.book .content-body {
		position: absolute;
		bottom: 0;
		height: 97%;
	}
	.book .scrollbar-wrapper {
		padding: 0;
	}
}
/* - end Book Content - */

/* - Services Content - */
.services .content-body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: 0 auto;
}
.services .content-section {
	margin: 0 auto 10px;
	height: 100%;
}
/* - Services Content [Menu] - */
/*.services .content-section.menu {
	float: left;
	width: 100%;
	height: 100%;
}*/
.services .img {
	float: left;
	width: 35%;
	height: 100%;
	background: url(/assets/imgs/snapshots/20150326_200249.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 15px;
}
.services .items-wrapper {
	float: left;
	width: 65%;
	height: 93%;
	overflow: auto;
	background: #fff;
}
.services .items {
	width: 100%;
	height: 100%;
	float: left;
	padding: 40px 15px 40px 50px;
	/* margin: 0 0 70px 0; */
}
.services .items .category-wrapper {
	float: left;
	width: 100%;
	height: 150px;
	margin: 10px 0 10px;
}
.services .items .category-name {
	float: left;
	width: 20%;
	line-height: 53px;
}
.services .items .category-name.color {
	float: right;
	text-align: right;
}
.services .items .category-name .category {
	display: block;
	width: 100%;
	font-size: 2em;
	/*font-family: 'MoonLight';*/
	color: rgba(85,10,0,1);
	text-transform: uppercase;
	word-break: break-all;
}
.services .items .item-wrapper {
	float: left;
	width: 80%;
	padding: 0 0 0 25px;
}
.services .items .item-wrapper.color {
    padding: 0 30px 0 0;
}
.services .items .item {
	width: 100%;
	height: 30px;
	float: left;
}
.services .items .item span {
	float: left;
	height: 100%;
	font-size: .6em;
}
.services .items .item .price {
	float: right;
	letter-spacing: 1px;
}
.services .menu-scroll {
	  width: 60%;
  height: 5%;
  position: absolute;
  
	  bottom: 5px;
  right: 0;
  text-align: center;
}
.services .menu-scroll a {
  display: inline-block; 
  border-left: 15px solid transparent;  
  border-right: 15px solid transparent;    
  border-bottom: 20px solid rgba(105,10,0,1);
  opacity: .7;
}
.services .menu-scroll a.arrow-up {
  border-top: 20px solid rgba(105,10,0,1);
  border-bottom: 0;
}
.services .menu-scroll a:hover,
.services .menu-scroll a.active {
	opacity: 1;
}
/* - end Services Content [Menu] - */

/* - Services Content [Products] - */
.services .content-section.products {
	float: left;
	width: 100%;
	height: 100%;
	/* padding-top: 10px; */
	font-size: .6em;
}
.services .products .category-wrapper {
	float: left;
	width: 50%;
	height: 50%;
}
.services .products .category-name,
.services .products .item-wrapper {
	float: left;
}
.services .products .category-name {
	width: 20%;
}
.services .products .item-wrapper {
	width: 80%;
}
.services .products .items .item {
	width: 100%;
	height: 50px;
}
.services .products .items .item .product-img {
	float: left;
	width: 100px;
	height: auto;
}
/* - end Services Content [Products] - */
/* - end Services Content - */

/* - Stylists Content - */
.stylists {
	position: relative;
	padding: 0 0 0 10px;
}
.stylists .content-header {
	position: absolute;
	width: 400px;
	top: 0;
	right: 0;
	left: 0;
	margin: -90px auto 0;
	text-align: center;
	color: rgba(85,10,0,1);
	letter-spacing: 5px;
}
.stylists .content-navbar {
	position: absolute;
	float: left;
	width: 40px;
	height: 70%;
	border-right: 3px solid rgba(105,10,0,1);
	z-index: 2;
}
.stylists .content-navbar a {
	display: block;
	height: 160px;
	margin: 19px 0;
	padding: 12px 9px 12px 10px;
	line-height: 19px;
	color: #000;
	text-align: center;
	font-size: .6em;
	border-top-left-radius: 10px;   border-bottom-left-radius: 10px;
}
.stylists .content-navbar a.chie-nav {
	height: 100px;
}
.stylists .content-navbar a.mark-nav {
	height: 105px;
}
.stylists .content-navbar a.active,
.stylists .content-navbar a:hover {
	font-size: .9em;
	padding: 10px 8px 10px 2px;
	line-height: 23px;
}
.stylists .scrollbar-wrapper {
	float: right;
	width: 100%;
}
.stylists .content-body {
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	overflow-y: auto;
	background: #fff;
}
.stylists .content-body .content-section {
	float: right;
	width: 93%;
	height: 100%;
	margin: 0 10px 21px 0;
	padding: 35px;
	border-radius: 30px;
	background-image: url(/assets/patterns/creampaper.png);
}
.stylists .content-body .content-section img.stylist-avatar {
	float: left;
	height: 100%;
	border-radius: 15px;
}
.stylists .content-body .content-section .stylist-info {
	float: right;
	width: 63%;
	height: 100%;
}
.stylist-info-header {
	height: 14%;
	margin: 0 0 6% 0;
}
.stylists .content-body .content-section .stylist-info .stylist-info-header span {
	display: inline-block;
	float: left;
	height: 100%;
	padding: 25px 18px;
	font-weight: 900;
	font-size: 1.2em;
	text-align: center;
	line-height: 22px;
	color: rgba(60,0,0,1);
	background: #fff;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	letter-spacing: 2px;
}
.stylists .content-body .content-section .stylist-info .stylist-info-header .stylist-name {
	margin: 0 20px 0 0;
}
.stylists .content-body .content-section .stylist-info .stylist-info-body {
	height: 75%;
	padding: 0 0 0 5px;
}
.stylists .content-body .content-section .stylist-info .stylist-info-body p {
	float: left;
	color: rgba(30,0,0,.7);
	/* font-family: 'Moonlight'; */
	font-size: .7em;
	line-height: 1.5;
	margin: 0 0 20px 0;
}
.stylists .content-body .content-section .stylist-info .stylist-info-body a {
	color: rgba(110,20,10, 1);
}
@media only screen and (max-width: 415px) {
	.stylists {
		position: relative;
		width: 100%;
		padding: 0;
	}
	.stylists .content-navbar {
		position: relative;
		float: none;
		width: 275px;
		height: 35px;
		top: 40px;
		margin: 0 auto 40px auto;
		padding: 0 6px;
		border-right: none;
		border-bottom: 4px solid rgba(65,10,0,1);
	}
	.stylists .content-navbar a {
		float: left;
		width: 70px;	  
		height: 100% !important;
		margin: 0 3px;
		padding: 0;
		line-height: 35px;
		font-size: 24px;
		letter-spacing: -2px;
	}
	.stylists .content-navbar a.mark-nav {
		width: 80px;

	}
	.stylists .content-navbar a.arnulfo-nav {
		width: 95px;		
	
		margin-top: -1px;
}
	.stylists .content-body {
		right: initial;	
		padding: 0;
		margin: 0 0 0 0;
	}
	.stylists .content-body .content-section {
		width: 100%;
		margin: 0;
		padding: 5px 10px 0;
		background: none;
	}
	.stylists .scrollbar-wrapper {
		height: 83%;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-body p {
		color: #000;
		font-size: 14px;
	}
	.stylists .content-body .content-section img.stylist-avatar {
		display: none;
		width: 40%;
		height: auto;
		margin: 0;
	}
	.stylists .content-body .content-section .stylist-info {
		width: 100%;
		height: 100%;
		padding: 0 10px;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-header {
		height: 60px;
		margin: 0;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-header .stylist-header-mobile {		
		height: 40px;
		margin: 0 !important;
		padding: 0 10px;
		line-height: 40px;
		text-align: right;
		font-weight: 900;
		color: #fff;
		background: rgba(55,75,120,.8);
		border-radius: 10px;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-header .stylist-divider {
		padding: 0 3px 0 0;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-header span.stylist-title {
		float: right;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-body {
		width: 100%;
		height: 89%;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-body p {
		font-size: 15px;
		line-height: 1.1;
		text-align: right;
	}
	.stylists .content-body .content-section .stylist-info .stylist-info-body .stylist-website {
		float: right;
		color: rgba(65,10,0,1);
	}
}
/* - end Stylists Content - */

/* - Gallery Content - */
.gallery .content-header {
	position: absolute;
	right: 0;
	left: 0;
	width: 180px;
	height: 57px;
	margin: -85px auto 50px;
	text-align: center;
	border-bottom: 4px solid rgba(85,10,0,1);
}
.gallery .content-header h2 {
	display: inline-block;
	height: 100%;
	padding: 2px 8px 0 15px;
	color: #fff;
	letter-spacing: 8px;
	background: rgba(130,68,0,1);
}
.gallery .content-body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.gallery .content-body .hero-image {
	position: relative;
	float: left;
	width: 39%;
	height: 100%;
	margin: 0 2% 0 0;
	opacity: 1;
}
.gallery .content-body .hero-image > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 0 auto;
	border-radius: 20px;
}
.gallery .content-body .hero-image:hover > img {
	opacity: .8;
}
.gallery .content-body .hero-image .pinterest-button {
	position: absolute;
	display: block;
	width: 100%;
	opacity: 0;
}
.gallery .content-body .hero-image:hover .pinterest-button {
	opacity: 1;
}
.gallery .content-body .hero-image .pinterest-button img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.gallery .content-body .packery-wrapper {
	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	float: left;
	width: 59%;
	height: 100% !important;
	overflow: auto;
}
.gallery .content-body .packery-container {
	float: left;
}
/* clearfix */
.gallery .content-body .packery-container:after {
	content: ' ';
	display: block;
	clear: both;
}
.gallery .content-body .packery-sizer,
.gallery .content-body .packery-container .packery-object {
	width: 25%;
}
.gallery .content-body .packery-container .packery-object {
	float: left;
	padding: 3px;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
.gallery .content-body .packery-container .packery-object img {
	width: 100%;
	margin: 0 auto -9px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	opacity: .8;
}
.gallery .content-body .packery-container .packery-object img:hover {
	cursor: pointer;
	opacity: 1;
}
@media only screen and (max-width: 415px) {
	.gallery .content-body .hero-image {
		display: none;
	}
	.gallery .content-body .packery-wrapper {
		width: 100%;	
		right: 0;	
		margin: 20px 0 0;
	}
	.gallery .content-body .packery-container {
		width: 100%;
	}
	.gallery .content-body .packery-sizer {
		width: 50%;
	}
	.gallery .content-body .packery-container .packery-object {
		width: 48%;
		margin: 0px 2px 4px;	
	}
	.gallery .content-body .packery-container .packery-object img {
		border-radius: 11px;
		opacity: 1;
	}
	.gallery .content-body .packery-container .packery-object img:hover {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.gallery .content-body .packery-container .packery-object img:active,
	.gallery .content-body .packery-container .packery-object img:focus {
		opacity: .6;
	}
	.gallery .lightbox {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #fff;
		padding: 20px;
	}
	.gallery .lightbox .close-button {
		position: absolute;
		top: 26px;
		right: 4px;
		width: 23px;
		height: 23px;
		border-radius: 15px;
		background: rgba(45,8,0,1);
		color: rgb(208, 158, 130);

		font-family: Comic Sans MS;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		line-height: 18px;
	}
	.gallery .lightbox .image-wrapper {
		height: 100%;
	}
	.gallery .lightbox .image-wrapper img {
		width: 100%;
		height: auto;
		border-radius: 20px;
	}
}
@media only screen and (max-width: 415px) {
	.about .content-header,
	.book .content-header,
	.gallery .content-header,
	.stylists .content-header {
		font-size: 20px;
		width: 200px;
		height: 40px;
		margin: -45px auto 0;
		letter-spacing: 0;	
		border-bottom: 0;
	}
	.about .content-header h2,
	.book .content-header h2,
	.gallery .content-header h2,
	.stylists .content-header h2 {
    color: rgba(85,10,0,1);
    background: none;
    font-size: 2.2em;
    letter-spacing: 2px;
    padding: 0;
	}
}
/* - end Gallery Content - */

/* - end Content - */