<!-- HOME -->
<!-- <snap-drawers>
	<div ng-if="windowWidth > 415" class="background-img face-3"></div>
	<div class="background-img face-2"></div>
	<div snap-drawer="right" class="menubar">
		<div class="nav" ng-repeat="tmp in templates" ng-click="changeTemplate(tmp)" snap-close>{{tmp.name}}</div>	
	</div>
</snap-drawers> -->
<div class="spotify">
	<h3>Salon Orchard Playlist</h3>
	<span>Come in for a haircut and listen to our tracks in person :)</span>
	<!-- <span ng-repeat="song in tracks" ng-click="playSong()">{{song.track.name}}</span> -->
<iframe class="play-button" src="https://embed.spotify.com/?uri=spotify%3Auser%3Asunlee1988%3Aplaylist%3A2XcR60S72pCkV1gK9idPfw" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<iframe class="follow-button" src="https://embed.spotify.com/follow/1/?uri=spotify:user:salonorchard&size=basic&theme=dark" width="135" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

	
</div>

<snap-content class="main">
	<div class="bg-print"></div>
	<div class="container-bg">
		<div class="header">
			<div class="logo"></div>
			<div class="nav">
				<span ng-class="{selected: tmp.selected}" ng-repeat="tmp in templates" ng-click="changeTemplate($event, tmp)">{{tmp.name}}</span>
			</div>
			<button snap-toggle="right" class="menubar-toggle">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<div class="container">
			
			<div class="portal" ng-class="template.name" ng-include="template.url">
				
			</div>
		</div>
	</div>
	
</snap-content>

<!-- END HOME -->