<!-- HOME -->
<snap-drawers>
	<div snap-drawer="right" class="menubar">
		<div class="nav">Book</div>
		<div class="nav">Menu</div>
		<div class="nav">Products</div>
		<div class="nav">Stylists</div>
		<div class="nav">Social</div>
		<div class="nav">About</div>
	</div>
</snap-drawers>

<snap-content class="main">
	<div class="container">
		<div class="header">
			<div class="logo"></div>
			<button snap-toggle="right" class="menubar-toggle">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<!-- add snap toggle here -->
		</div>
		<div class="portal" ng-include="/views/content/about.html">
			
		</div>
	</div>
</snap-content>

<!-- END HOME -->