<div class="services">
	<div class="content-navbar" du-scroll-container="scroll-container">
		<a class="menu-nav" href="#menu" du-smooth-scroll du-scrollspy offset="10">Menu</a>
		<a class="products-nav" href="#products" du-smooth-scroll du-scrollspy offset="10">Products</a>	
	</div>
	<div id="scroll-container" class="content-body">
		
		<div id="menu" class="content-section menu">
			<div class="img"></div>
			<div class="items">

				<!-- Start Category repeat -->
				<div class="category-wrapper" ng-repeat="item in menu">
					<div class="category-name {{item.category}} vertical"><span class="category">{{item.category}}</span></div>
					<div class="item-wrapper {{item.category}} vertical">
						<div class="item" ng-repeat="service in item.services">
							<span class="name">{{service.name}}</span>
							<span class="price">{{service.price}}</span>
						</div>
					</div>
				</div>	
				<!-- End Category repeat -->

			</div>
		</div>	

		<div id="products" class="content-section products">
			<h2>Products</h2>
		</div>

	</div>
</div>
