<div class="content stylists">
	<div class="content-navbar vertical">
		<a class="chie-nav" href="#chie" du-smooth-scroll du-scrollspy offset="10">C h i e
		</a>
		<a class="mark-nav" href="#mark" du-smooth-scroll du-scrollspy offset="10">M a r k
		</a>	
		<a class="arnulfo-nav" href="#arnulfo" du-smooth-scroll du-scrollspy offset="10">A r n u l f o
		</a>	
	</div>

	<div id="scroll-container" class="content-body vertical">

		<div id="chie" class="content-section chie">

		</div>

		<div id="mark" class="content-section mark">

		</div>

		<div id="arnulfo" class="content-section arnulfo">

		</div>

	</div>
</div>